################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildTest/.vs/BuildTest/v15/Server/sqlite3
